body{
  margin: 0px;
  padding: 0px;
}
.parent{
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
  box-shadow: 5px 4px 8px gray;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;
  width: auto;
}
.fullimg{
width: 65%;
height: 370px;
/* border: 2px solid black; */
margin-left: 70px;
}

.main-container{
  display: flex;
}
.navbar{
  text-decoration: none;
  font-size: large;
  font-weight: 10px;
  /* background-color: aqua; */
  
}

.vartical{
  writing-mode: vertical-lr;
  transform: scale(-1,-1);
  /* align-items: center; */
  font-size: 20px;
}
#head{
  font-size: 45px;
  font-weight: bold;
}
.heading{
  text-align: center;
}
.img{
  height: 20vh;
  width: 17vh;
}
.parent1 {
  margin-bottom: 20px; /* Add margin between cards */
  display: inline-block;
  text-align: center;
}
#topimg{
  height:120% ;
  width: 120%;
}
#topimg1{
  width: 110%;
  height: 20em
}
.bolly{
  text-decoration: underline;
  width: 100%;
  font-size: 30px;
  display: block;
  margin-left: 100px;
}
.first_container{
  width: 68%;
display: block;
margin-left: 60px;
margin-right: 10px;
/* border: 2px solid blueviolet; */
}

.cardname{
  margin-left: 50px;
  /* border: 2px solid green; */
}
.topheading{
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
}
.card {
  /* border: 1px solid #ccc; */
  padding: 10px;
  height: 140px;
  /* width: calc(27% - 10px); Three cards in a row with some spacing */
  width: 90%;
  margin: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  /* text-align: center; */
  display: flex;
  text-decoration:none;
  overflow: hidden;
}
.title{
  display: inline-block;
  margin-left: 10px;
  margin-top: -20px;
}
.second_container{
 display: block;
 /* border: 2px solid black; */
 width: 35%;
 margin-right: 30px;
 height: auto;
}
.card1{
  padding: 5px;
  height: 150px;
  /* width: calc(27% - 10px); Three cards in a row with some spacing */
  width: 100%;
  margin-top: 30px;
  margin-right: 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  /* text-align: center; */
  display: flex;
  text-decoration:none;
  overflow: hidden;
}
.title1{
  display: inline;
  margin-left: 10px;
  margin-top: -20px;
}
.mostpopular{
  text-decoration: underline ;
  line-height: 10px;
}
.add2{
  position: fixed;
  margin-right: 5px;
}
.add1{
  position: fixed;
 
  
}
.add3{
  position: fixed;
  top:450px;
}
.add4{
  position: fixed;
  top:250px;
}
.add5{
  position: fixed;
  top:550px;
}

.addvatise1{
  width: 180px;
  height: 100vh;
  
}
.footer{
  text-align: center;
  margin-left:7em ;
  margin-right: 160px;
  height: 50vh;
  width: 80vw;
  background-color: rgb(66, 66, 66);

}
.footer1{
  display:flex;
  justify-content: space-evenly;
}
.footer2{
  display:flex;
  justify-content: space-evenly;
}
#applestore{
  margin-left: 10px;
}
.count{
  font-size: 45px;
  color: rgb(148, 146, 146);
}
/*technology*/
#topimg2{
  height: 20em;
  width: 38em;
 }
 .fullimg1{
  width: 88%;
  height: 400px;
  /* border: 2px solid black; */
  margin-left: 70px;
  }






/* mobile view */
@media only screen and (min-width:300px) and (max-width:500px){
 
  .parent{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    box-shadow:0px 0px 8px gray;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    width: 100vw;
  }
   .card {
  /* border: 1px solid hsl(0, 0%, 80%); */
  padding: 5px;
  /* width: calc(100% - 70px);  Three cards in a row with some spacing */
  margin: 15px;
  box-sizing: border-box;
  display: flex;
  /* vertical-align: top; */
  /* text-align: center; */
  font-size: small;
 } 
 .card1 {
  /* border: 1px solid hsl(0, 0%, 80%); */
  padding: 5px;
  /* width: calc(100% - 70px);  Three cards in a row with some spacing */
  margin: 15px;
  box-sizing: border-box;
  display: flex;
  /* vertical-align: top; */
  /* text-align: center; */
  font-size: small;
 } 
 .main-container{
  display: block;
 }
 .first_container{
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
 }
 .second_container{
  width: 100%;
  margin-right:6% ;
  margin-left: 5%;
 }
 /* .parent{
  display: none;
 } */
 .heading{
  text-align: start;
 }
 .add2{
  display: none;
 }
 .add3{
  display: none;
 }
 .add4{
  display: none;
 }
 .add5{
  display: none;
 }
 #topimg1{
  height: 10em;
  width: 20em;
 }
 #topimg2{
  height: 10em;
  width: 20em;
 }
 #topimg3{
  height: 10em;
  width: 20em;
 }


 .fullimg{
  width: 65%;
  height: 190px;
  /* border: 2px solid black; */
  margin-left: 40px;
  }
  .fullimg1{
    width: 20em;
    height: 17em;
    /* border: 2px solid black; */
    margin-left: 8%;
    }
  .cardname{
    margin-left:0px;
    margin-right:0px;
    /* border: 2px solid green; */
    margin-top: 2em;
  }
  .addvatise1{
    display: none;
  }
  .footer{
    text-align: center;
    margin-left:0px ;
    margin-right:0px;
    height: 80vh;
    width: 107vw;
    background-color: rgb(66, 66, 66);
  
  }
  .bolly{
    text-decoration: underline;
    width: 40%;
    font-size: 26px;
    display: block;
    margin-left: 20%;
  }
}