.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.parent{
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
}
.navbar{
  text-decoration: none;
  font-size: large;
  background-color: aqua;
}

img{
  height: 20vh;
}
.parent1 {
  margin-bottom: 20px; /* Add margin between cards */
  display: inline-block;
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  height: auto;
  width: calc(27% - 10px); /* Three cards in a row with some spacing */
  margin: 40px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
@media only screen and (min-width:300px) and (max-width:500px){
  .card {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 70px);  /* Three cards in a row with some spacing */
  margin: 35px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
 }
}