
.parent{
  display: flex;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
.fullimg{
width: 65%;
height: 370px;
/* border: 2px solid black; */
margin-left: 70px;
}

.main-container{
  display: flex;
}
.navbar{
  text-decoration: none;
  font-size: large;
  font-weight: 10px;
  /* background-color: aqua; */
}
.navbar:hover{
  background-color:gray;
}
.vartical{
  writing-mode: vertical-lr;
  transform: scale(-1,-1);
  /* align-items: center; */
  font-size: 20px;
}
#head{
  font-size: 45px;
}
.heading{
  text-align: center;
}
.img{
  height: 20vh;
  width: 20vh;
}
.parent1 {
  margin-bottom: 20px; /* Add margin between cards */
  display: inline-block;
  text-align: center;
}
#topimg{
  height:120% ;
  width: 120%;
}
.bolly{
  text-decoration: underline;
  width: 100%;
  font-size: 30px;
  display: block;
  margin-left: 100px;
}
.first_container{
  width: 68%;
display: block;
margin-left: 40px;
margin-right: 10px;
/* border: 2px solid blueviolet; */
}

.cardname{
  margin-left: 50px;
  /* border: 2px solid green; */
}
.topheading{
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
}
.card {
  /* border: 1px solid #ccc; */
  padding: 10px;
  height: 150px;
  /* width: calc(27% - 10px); Three cards in a row with some spacing */
  width: 90%;
  margin: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  /* text-align: center; */
  display: flex;
  text-decoration:none;
  overflow: hidden;
}
.title{
  display: inline-block;
  margin-left: 10px;
  margin-top: -5px;
}
.second_container{
 display: block;
 /* border: 2px solid black; */
 width: 35%;
 margin-right: 30px;
 height: auto;
}
.card1{
  padding: 5px;
  height: 200px;
  /* width: calc(27% - 10px); Three cards in a row with some spacing */
  width: 100%;
  margin-top: 40px;
  margin-right: 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  /* text-align: center; */
  display: flex;
  text-decoration:none;
  overflow: hidden;
}
.title1{
  display: inline;
  margin-left: 10px;
  margin-top: -5px;
}
.mostpopular{
  text-decoration: underline dashed;
  line-height: 10px;
}
.add2{
  position: fixed;
  margin-right: 5px;
}
.add1{
  position: fixed;
 
  
}
.add3{
  position: fixed;
  top:450px;
}
.add4{
  position: fixed;
  top:250px;
}
.add5{
  position: fixed;
  top:550px;
}

.addvatise1{
  width: 180px;
  height: 100vh;
  
}

/* mobile view */
@media only screen and (min-width:300px) and (max-width:500px){
  .card {
  border: 1px solid #ccc;
  padding: 10px;
  /* width: calc(100% - 70px);  Three cards in a row with some spacing */
  margin: 35px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
 } 
 .main-container{
  display: block;
 }
 .first_container{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
 }
 .second_container{
  width: 100%;
  margin-right:0px ;
  margin-left: 10px;
 }

}