nav{
    /* display: flex;
    justify-content: space-between; */
    background-color: #1b3420;
    padding: 4px 20px;
    box-shadow: 0 5px 15px rgb(0, 0,0.06);
}
#navbar{
  display: flex;  
  justify-content: space-evenly;
  /* align-items: start; */
}
#navbar li{
    list-style: none;
    padding:0 20px;
    /* box-sizing: border-box; */
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    transition: 0.4s ease-in-out;
}
.logo{
    display: none;
}
#navbar li a:hover,
#navbar li a.active{
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
}
#mobile i {
   margin-top: 12px;
    color: #fff;
    align-items: center;

}
@media only screen and (min-width:300px) and (max-width:500px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 45px;
        right: -320px;
        width: 280px;
        height: 50vh;
        background-color: #2a3239;
        box-shadow: 0 40px 60px rgb(0, 0,0.01);
        padding: 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        /* width: %; */
    }
    #mobile{
        display: block;
    }
    .logo{
        display: block;
        color: #fff;
        text-decoration: none;
    }
    .logo a:hover,
    .logo a.active{
        color: #fff;
    }
    .logo a{
        text-decoration: none;
    }
    .heading{
        display: none;
    }
    
    #navbar li{
        margin-bottom: 30px;
    }
    #mobile i{
        font-size: 24px;
    }
    #navbar.active{
        right:0px;
    }
}